#title{
  font-family: 'Monoton', cursive;
}

#title2{
  font-family: 'Chonburi', cursive;
  color:#f2be54;

}

#hometext{
  font-family: 'Poiret One', cursive;
}

#bios{
  font-family: 'Cinzel Decorative', cursive;
  color:#f2be54;
  font-size: 20px;
}

html{
  background-color: #153e5c;
    color:#f2be54;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h3{
  font-weight: bold;
  text-decoration: underline;
}
