#title{
  font-family: 'Monoton', cursive;
}

#title2{
  font-family: 'Chonburi', cursive;
}

#hometext{
  font-family: 'Poiret One', cursive;
}

#bios{
  font-family: 'Cinzel Decorative', cursive;
}
