/* .center {
  display: block;
     margin-left: auto;
     margin-right: auto;
     padding: 10px;
}

.left {
  display: block;
     margin-left: inherit;
     margin-right: auto;
     padding: 10px;

}

.right {
  display: block;
     margin-left: auto;
     margin-right: inherit;
     padding: 10px;

} */
.center {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
}
.row {
    display: flex;
}
.womenintechsection img{
  margin-center:inherit;
}

#womenintechsection{
  font-family: 'Merienda', cursive;
  font-color:#87aeb4;
  font-size:30px;
}
#nicole{
  text-align: right;
}
#bluesection{
  font-family: 'Merienda', cursive;
  font-color:#87aeb4;
  font-size:30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

ul {
    text-align: center;
    list-style-position: inside;
}

#title{
  font-family: 'Abril Fatface', cursive;
}

#title1{
  font-family: 'Abril Fatface', cursive;
  font-size:48px;
}

#quotes{
    font-family: 'Merienda', cursive;
    color:#92e2e9;
    font-size:30px;
}

#title2{
  font-family: 'Abril Fatface', cursive;
  font-size:48px;
}

#redsection{
  font-color:#92e2e9;
  font-size:30px;
}
#pinksection{
  color:#f2be54;
}
#orangesection{
  color:#f2be54;
}
#yellowsection{
  color:#f2be54;
}
#brownsection{
  color:#f2be54;
}
#blacksection{
  color:#f2be54;
}
#purplesection{
  color:#f2be54;
}
#lightbluesection{
  color:#f2be54;
}




/* tell the container's children to float left: */
/* .float-nicoledominguez > * {
  float:left;
  margin-right:5px;
} */

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

/* .clearfix {
  *zoom:1 /* for IE */
}

/* .clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
} */ /


/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}
/* <p><img src="nicoledominguez.jpg" class="center" alt="nicoledominguez" style="width:90" "height=89" align="middle">NICOLE DOMINGUEZ: An empathetic curious human. Passionate */
/* about delightful, usable experiences made possible by great reusable and scalable code.</p> */
