/* Css for home page */
html{
background-color: #153e5c;
color: #f2be54;
font-family: 'Poiret One', cursive;

}

#title {
  font-family: 'Monoton', cursive;
  font-size: 80px;
}
#hometext{
  font-size: 30px;
}


a:link{
  color:#f2be54;
}

a:visited{
  color:#f2be54;
}

.sub{
  font-family: 'Poiret One', cursive;
  font-size: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}





/* This is Khai's section */

#bluesection{
  font-family: 'IBM Plex Mono', monospace;
  font-color: #f2be54;
  font-size: px;
}


  /* .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #153e5c;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      text-align: center;
  }

  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 50px;
      color: #818181;
      display: block;
      transition: 0.3s;
      color: #f2be54;
      .sidenav a:hover{
          color: #f1f1f1;
      }

      .sidenav a:hover{
          color: #f1f1f1;
      }

    .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
      }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 15px;}
      } */



/* This is Aubri's section */
#womenInCS {
  font-family: 'Dosis', sans-serif;
  font-size: 45px;
  }

  .center {
     box-sizing: border-box;
     margin-left: auto;
     margin-right: auto;
  }
  .row {
      display: flex;
  }

.header2{
  font-family: 'Dosis', sans-serif;
  font-size: 60px;
  }
