/* Css for home page */
html{
background-color: #153e5c;
color: #f2be54;
}

#title {
  font-family: 'Monoton', cursive;
  font-size: 80px;
}
#nav-bar {
    display:flex;
    color:#f2be54;
    justify-content:space-around;
    text-decoration: none;

}

#nav-bar .item {
    background-color:#87aeb4;
    padding:10px;
}






/* This is Khai's section */

#bluesection{
  font-family: 'IBM Plex Mono', monospace;
  font-color: #f2be54;
  font-size: 30px;
}




/* This is Aubri's section */
