/* Css for home page */
html{
background-color: #153e5c;
color: #f2be54;
font-family: 'Poiret One', cursive;

}

#title {
  font-family: 'Monoton', cursive;
  font-size: 80px;
}
#hometext{
  font-size: 30px;
}


a:link{
  color:#f2be54;
}

a:visited{
  color:#f2be54;
}

.sub{
  font-family: 'Poiret One', cursive;
}






/* This is Khai's section */

#bluesection{
  font-family: 'IBM Plex Mono', monospace;
  font-color: #f2be54;
  font-size: px;
}



<<<<<<< HEAD
  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #153e5c;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      text-align: center;
  }

  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 50px;
      color: #818181;
      display: block;
      transition: 0.3s;
      color: #f2be54;
=======

>>>>>>> 48c79ac182972c4d42df16a1a54ef3ff80899cc4












































/* This is Aubri's section */
#womenInCS {
  font-family: 'Dosis', sans-serif;
  font-size: 35px;
  }
